/* reset styles 
--------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:focus {
  outline: none;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
* {
  font-family: -apple-system-font, "Helvetica Neue";
  box-sizing: border-box;
}
header {
  display: -webkit-box;
  display: box;
  height: 128px;
  background: rgba(44, 62, 80, 0.91);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header h1.title {
  position: absolute;
  top: 40px;
  text-align: center;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  font-weight: 300;
  font-size: 34px;
  line-height: 88px;
  color: white;
}
header .button-prev,
header .button-next {
  position: relative;
  font-size: 34px;
}
header .button-prev {
  margin-left: 16px;
  color: white;
  font-weight: 200;
}
ul.list li {
  height: 88px;
  padding: 0 30px;
  line-height: 88px;
  border-bottom: 1px solid #c8c7cc;
  position: relative;
  font-size: 28px;
}
ul.list li .chevron {
  position: absolute;
  right: 30px;
  top: 35px;
}
.workout-details:before,
.workout-details:after {
  content: " ";
  display: table;
}
.workout-details:after {
  clear: both;
}
.workout-details .details {
  background: #fbfbfb;
  border-bottom: 1px solid #bbb;
  box-shadow: inset 0 1px 1px -1px #ffffff;
}
.workout-details .details p {
  line-height: 48px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #444;
}
.workout-details img {
  width: 50%;
  float: left;
}
.workout-details img.before {
  padding: 12px;
  padding-right: 6px;
}
.workout-details img.after {
  padding: 12px;
  padding-left: 6px;
}
#what-weight .center {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 30%;
  text-align: center;
}
#what-weight .center h2 {
  line-height: 36px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 18px;
}
#what-weight .center input {
  margin-bottom: 24px;
  text-align: center;
}
.button-prev,
.button-next {
  position: absolute;
  top: 70px;
  z-index: 1000;
}
.content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-top: 128px;
}
.slide-right .ng-enter,
.slide-right .ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
.slide-right .ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.slide-right .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
.slide-right .ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
.slide-right .ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.slide-left .ng-enter {
  -webkit-transform: translate3d(0 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.slide-left .ng-enter-active {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}
.slide-left .ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
.slide-left .ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.chevron {
  display: block;
  height: 20px;
}
.chevron:before {
  top: 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.chevron:after {
  top: 7px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.chevron:before,
.chevron:after {
  position: relative;
  display: block;
  width: 12px;
  height: 4px;
  background-color: #999;
  content: '';
}
/* Modals
-------------------------------------------------- */
.modal {
  position: fixed;
  display: none;
  top: 0;
  opacity: 0;
  z-index: 11000;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: opacity 0.5s easein;
  -moz-transition: opacity 0.5s easein;
  -o-transition: opacity 0.5s easein;
  transition: opacity 0.5s easein;
}
/* Modal - When active
-------------------------------------------------- */
.modal.active {
  display: block;
  opacity: 1;
  height: 100%;
}
.modal-active > .content {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
