<!DOCTYPE html>
<html lang="en" ng-app="workout">
  <head>
    <meta charset="utf-8">
    <title>Workout App</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel='stylesheet' type='text/css' href="css/ratchet.css" media="all"/>
    <link rel='stylesheet' type='text/css' href="css/screen.css" media="all" />

    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="js/application.js"></script>
  </head>
  
  <body ng-controller="AppCtrl" ng-switch on="NavService.state" ng-animate="animate">

    <header class="bar-title">
      <a class="button-prev" ng-show="NavService.isOn('selectWorkout')" ng-click="NavService.backTo('selectDay')">
        Days
      </a>
      <a class="button-prev" ng-show="NavService.isOn('workout')" ng-click="NavService.backTo('selectWorkout')">
        Workouts
      </a>
      <h1 class="title">{{WorkoutService.title}}</h1>
    </header>

    <div class="content day-list" ng-switch-when="selectDay" >
      <ul class="list">
          <li ng-repeat="day in WorkoutService.days" ng-click="NavService.selectDay(day)">
              <a>{{day.name}}</a>
              <span class="chevron"></span>
          </li>
      </ul>
    </div>

    <div class="content workout-list" ng-switch-when="selectWorkout" >
      <ul class="list">
          <li ng-repeat="exercise in WorkoutService.currentDay.exercises" ng-click="NavService.selectWorkout(exercise)">
              {{WorkoutService.getExercise(exercise.exercise).name}}
              <span class="chevron"></span>
              <span class="count" ng-show="WorkoutService.completedWorkout(exercise)">completed</span>
          </li>
      </ul>
    </div>

    <div class="content workout" ng-switch-when="workout" >

      <div class="workout-details">
        <div class="details">
          <p>{{RunWorkoutService.getPreviousResult()}} last week</p>
        </div>
        <img ng-src="{{RunWorkoutService.exercise.beforeImg}}" class="before"/>
        <img ng-src="{{RunWorkoutService.exercise.afterImg}}" class="after"/>
      </div>

      <ul class="list">
        <li ng-repeat="(index,rep) in RunWorkoutService.workout.reps">
          {{rep.name}} reps
          <span class="count" ng-show="RunWorkoutService.getResult(index) != false">{{RunWorkoutService.getResult(index)}}</span>
          <a class="button-positive" ng-click="WeightModal.show()" ng-show="index==RunWorkoutService.currentRep && !RunWorkoutService.getResult(index)">✔</a>
        </li>
      </ul>

      <div class="content-padded"><a class="button-positive button-block" ng-show="RunWorkoutService.isCompleted()" ng-click="NavService.backTo('selectWorkout')">Next Workout »</a></div>
    </div>

    <div id="what-weight" class="modal" ng-class="{active:WeightModal.visible}">
      
      <header class="bar-title">
        <h1 class="title">Record weight</h1>
        <a class="button" ng-click="WeightModal.hide()">
          cancel
        </a>
      </header>

      <div class="content content-padded" >
        
        <div class="center">
          <h2>What weight did you attain?</h1>
          <form>
            <input type="number" placeholder="Weight in KG" ng-model="WeightModal.weightModel">
            <a class="button button-block button-main" ng-click="WeightModal.saveWeight()">Save</a>
          </form>
        </div>

      </div>
    </div>    

  </body>


  
</html>